<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <header>
            <% include ./partials/_header %>
    </header>
    <% if(username) {%>
    <h1>Hello, <%= username%>!!!!!!!!</h1>
    <% }%> 
    <!— Add your EJS code here —>
    <% for (var key in urls){ %>
        <p><%= urls[key] %> - <%= key%>
            <form method="GET" action="/urls/<%= key %>">
                <button type="submit">Edit</button>
            </form>

            <form method="POST" action="/urls/<%= key %>/delete">
            <button >Delete</button>
            </form>    
        </p>
    <% } %>
    <form action="/urls/new">
        <input type="submit" value="add new link" />
    </form>
</body>
</html>